<h2>Редагувати локацію</h2>
<%= form_for :location, url: location_path(@location), method: :patch do |f| %>
  <p> Назва:<br>
    <%= f.text_field :title %>
  </p>
  <p> Адреса:<br>
    <%= f.text_field :address %>
  </p>
  <p> Категорія:<br>
      <%= f.text_field :category %>
  </p>
  <p> Опис:<br>
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
