<% @location.each do |l| %>
<div class="card mb-4">
  <div class="card-header">
  <h5 class="my-0 font-weight-normal"><%= l.title%> <small><mark><%= l.category %></mark></small></h5>
  <small class="text-muted"><%= l.address %></small>
  </div>
  <div class="card-body">
  <p><%= l.description %></p>
  <span class="btn btn-outline-primary">  <%= link_to 'Детальніше >>', location_path(l) %></span>
  </div>
</div>
<% end %>
