
<div class="card mb-4">
  <div class="card-header">
  <h5 class="my-0 font-weight-normal"><%= @location.title%> <small><mark><%= @location.category %></mark></small></h5>
  <small class="text-muted"><%= @location.address %></small><br><br>
  <% if is_admin? %>
  <%= link_to "Редагувати", edit_location_path(@location), class: "btn btn-outline-warning btn-sm" %>
  <%= link_to "Видалити", @location, data: { method: :delete }, class: "btn btn-outline-danger btn-sm" %>
  <% end %>
  </div>
  <div class="card-body">
  <p><%= @location.description %></p>
  </div>
</div>
<h5>Коментарі</h5>
<% unless logged_out? %>
  <% @location.comments.each do |c| %>
    <p><strong><%= c.user.username %></strong>: <muted><%= c.body %></muted></p>
  <% end %>
  <%= link_to "Додати коментар", :new_comment, class: "btn btn-outline-primary btn-sm" %>
<% else %>
  <p>Коментарі можуть переглядати лише авторизовані користувачі.</p>
<% end %>
