<%= link_to "Редагувати", edit_location_path(@location) %>
<%= link_to "Видалити", @location, data: { method: :delete }%>
<h3><%= @location.title%></h3>
<h4><%= @location.category %></h4>
<h5><%= @location.address %></h5>
<p><%= @location.description %></p>
